@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");


body {
    background-color: rgb(157, 201, 221);
}

.nav {
    background-color: rgb(14, 172, 245);
}

.col-item {
    margin: auto;
    font-size: x-large;
    color: rgb(14, 172, 245);
    padding: 50px;
}

.btn {
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
    letter-spacing: 1px;
}

.btn-primary:hover {
    background: transparent;
    border-color: rgb(14, 172, 245);
    color: whitesmoke;
}

.btn-primary {
    background-color: rgb(195, 224, 238);
    color: black;

}



.section-2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.section-2 .box {
    position: relative;
    width: 170px;
    height: 150px;
    transform-style: preserve-3d;
    animation: section-2-animate 20s linear infinite;
}

@keyframes section-2-animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.section-2 .box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(500px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.section-2 .box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 320px;
    border-radius: 20px;
    object-fit: cover;
}

.section-2 img:hover {
    animation-play-state: paused;
    transition: ease;
}

.section-2 .box:hover {
    animation-play-state: paused;
    transition: ease;
}

.section-2 .glow {
    color: rgb(46, 87, 201);
    text-align: center;
    animation: section-2-glow 1s ease-in-out infinite alternate;
    position: absolute;
    margin: 20px;
    top: 16vh;
    left: 50vh;
    right: 50vh;
    font-family: 'Lobster Two', cursive;
    font-size: 7rem;
}

@-webkit-keyframes section-2-glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0514ddc5, 0 0 40px #0514ddc5, 0 0 50px #0514ddc5, 0 0 60px #0514ddc5, 0 0 70px #0514ddc5;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #0514ddc5, 0 0 40px #ff4
    }
}

.glow {
    color: blue;
    animation: section-2-glow 1s ease-in-out infinite alternate;
    margin: 20px;
    top: 16vh;
    left: 50vh;
    right: 50vh;
    font-family: 'Lobster Two', cursive;
    font-size: 4rem;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0514ddc5, 0 0 40px #0514ddc5, 0 0 50px #0514ddc5, 0 0 60px #0514ddc5, 0 0 70px #0514ddc5;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #0514ddc5, 0 0 40px #ff4
    }
}