@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
    box-sizing: border-box;
    background-color: rgb(157, 201, 221);
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
    --light-gray: rgba(255, 255, 255, 0.877);
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #ffffff;
    --terary: #898989;
    --light: #F2F2F2;
    --secondary: #070606;
}

.nav {
    background-color: rgb(14, 172, 245);
}

.col-item {
    margin: auto;
    font-size: x-large;
    color: rgb(14, 172, 245);
    padding: 50px;
}

.btn {
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
    letter-spacing: 1px;
}

.btn-primary:hover {
    background: transparent;
    border-color: rgb(14, 172, 245);
    color: whitesmoke;
}

.btn-primary {
    background-color: rgb(195, 224, 238);
    color: black;

}

.img-size {
    height: 200px;
    width: 120px;
    justify-self: unset;
}

.vedio {
    margin: auto;
}

.txt {
    color: #6b5fce;
    margin: 2rem;
    text-align: center;
    padding: auto;
    font-size: x-large;
    font-family: fantasy;
    box-sizing: border-box;
}

.txt1 {
    color: rgb(14, 172, 245);
    margin: 2rem;
    text-align: center;
    padding: auto;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

.container1 {
    color: rgb(14, 172, 245);
    padding: 25px 25px 25px 25px;
}

.sleepy {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #5ba7ee, #ff512f);
    --light-gray: rgba(255, 255, 255, 0.877);
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #ffffff;
    --terary: #898989;
    --light: #F2F2F2;
    --secondary: #070606;
}

.sec {
    align-content: flex-end;
}


@keyframes swing {

    0%,
    100% {
        transform: rotate(-30deg);
    }

    20% {
        transform: scale(.95);
    }

    50% {
        transform: rotate(30deg);
    }

    80% {
        transform: scale(.95);
    }
}

#sweetlandia {
    animation: swing 2s infinite ease-in-out;
    color: rgb(14, 172, 245);
}

.event {
    margin: 50px auto;
    color: rgb(14, 172, 245);
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image-1 image-2 image-3 image-4";
    grid-gap: 10px;
}

.grid-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: red;
}

.grid-container>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-1 {
    grid-area: image-1;
    transition: all 0.2s ease-in-out;
}

.image-1:hover {
    transform: scale(1.1);
}

.image-2 {
    grid-area: image-2;
}

.image-2:hover {
    transform: rotate(45deg);
    background-image: url("https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

.image-2:hover .second-image {
    display: inline;
}

.second-image {
    display: none;
    position: absolute;
    top: 0;
}

.image-3 {
    grid-area: image-3;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 4.5s ease-in-out forwards infinite;
    animation: swinging 4.5s ease-in-out forwards infinite;
}

.image-3:hover {
    animation-play-state: paused;
}

.image-4 {
    grid-area: image-4;
    opacity: 0.2;
}

.image-4:hover {
    opacity: 1;
}

@keyframes swinging {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.frame {
    height: 90vh;
    width: 90vw;
    margin: 5vh 5vw;
    background-color: rgb(14, 172, 245);
    background-position: center;
    background-size: cover;

    animation: image 2s infinite alternate;
}

@keyframes image {
    0% {
        background-image: url('../img/us/u11.jpeg');
    }

    100% {
        background-image: url('../img/us/u13.jpeg');
    }
}